{% extends "layouts/bootstrap.jinja.html" %}

{% block head %}
<style>
  .error-template { padding: 40px 15px; text-align: center; }
  .error-actions { margin-top: 15px; margin-bottom: 15px; }
  .error-actions .btn { margin-right: 10px; }
</style>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
              <h1>Упс!</h1>
              <h2>Страница не найдена</h2>
              <div class="error-details">
                  Возможно вы ошиблись при написании адреса
              </div>
              <div class="error-actions">
                <a href="/" class="btn btn-primary btn-lg">
                  <span class="glyphicon glyphicon-home"></span> 
                  Вернуться на главную
                </a>
                <!-- <a href="http://www.jquery2dotnet.com" class="btn btn-default btn-lg">
                  <span class="glyphicon glyphicon-envelope"></span> 
                  Contact Support
                </a> -->
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}